div.calendar
  div.calendar__top-wrapper
    p.calendar__title Август 2019

  div.calendar__body

  button(
    class='calendar__button'
    type='button'
  ) Очистить
  button(
    class='calendar__button'
    type='button'
  ) Применить

