mixin input(options)
  if !options
    - optons = {}

  .input
    label.label-cta.input__label-cta
      if options.label
        = options.label
      -
        var classes = ''
        classes += options.name === 'masked-text' ? 'text-field_text-style_uppercase' : ''
        var fieldWidth = 'width: ' + options.width + 'px'

      input.text-field(
        style= fieldWidth
        class= classes
        type = options.type
        name = options.name
        placeholder = options.placeholder
      )







