+input('text-field', 'email', 'Email')
+input('text-field', 'text', 'This is pretty awesome')

//- div.dropdown
//-   p.label-cta.input__label-cta dropdown
//-   div.input__field
//-     p.text-content.input__text-content This is pretty awesome
//-     span.dropdown-marker expand_more

//- div.input.input_masked-text
//-   label(
//-     class='label-cta input__label-cta'
//-     for='input-field-3'
//-   ) masked text field
//-   input(
//-     class='input__field input__field_date-text_uppercase'
//-     id='input-field-3'
//-     type='date'
//-   )

//- div.data-dropdown-wrapper
//-   div.input
//-     label(
//-       class='label-cta input__label-cta'
//-       for='input-field-4'
//-     ) date Dropdown
//-     div.input__field.input__field_width_date-dropdown
//-       input.input_reset.input__field_date-text_uppercase(
//-         id='input-field-4'
//-         type='text'
//-         placeholder='дд.мм.гггг'
//-       )
//-       span.dropdown-marker expand_more


