.input_reset {
  margin: 0;
  padding: 0;

  width: 88px;

  border: none;
  outline: 1px dotted red;


  font-family: Montserrat, sens-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  background-color: white;
  text-align: left;
}
