@import './__lable-cta/dropdown__label-cta.scss';
@import './__text-content/dropdown__text-content.scss';
@import './__marker/dropdown__marker.scss';

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  // margin-bottom: 20px;
}
