.input__dropdown-marker {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-left: 9px;
  padding-top: 8px;

  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;

  color: rgba(31, 32, 65, 0.75);
}
