.form-elements {
  margin: 0;
  padding: 0;
  min-width: 1160px;
  min-height: 1060px;
  margin-top: 150px;
  display: flex;
  outline: 2px solid blue;
}

.elements-wrapper-1 {
  min-width: 340px;
  margin-left: 80px;
  outline: 1px dotted red;
}
