@import './__input-1/form-elements__input-1.scss';
@import './__input-2/form-elements__input-2.scss';
@import './__input-3/form-elements__input-3.scss';
@import './__dropdown-1/form-elements__dropdown-1.scss';
@import './__dropdown-2/form-elements__dropdown-2.scss';
@import './__dropdown-3/form-elements__dropdown-3.scss';
@import './__dropdown-4/form-elements__dropdown-4.scss';
@import './__dropdown-5/form-elements__dropdown-5.scss';
@import './__dropdown-expanded-1/form-elements__dropdown-expanded-1.scss';
@import './__subscription/form-elements__subscription.scss';

.form-elements {
  margin: 0;
  margin-left: 140px;
  margin-top: 140px;

  padding: 0;
  min-width: 1160px;
  min-height: 1060px;
  display: flex;
  outline: 2px solid blue;
}

.elements-wrapper-1 {
  min-width: 340px;
  outline: 1px dotted red;

}

.dropdown-wrapper {
  width: 320px;

  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
