//- doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    title Мой учебный проект №2
  body
    h1.visually-hidden Components

    section.components
      h2(
        class='sub-title auxiliary'
      ) Cards

      .components-wrapper-1
        include components/cards/search-form/search-form.pug
        include components/cards/registration-form/registration-form.pug
      .components-wrapper-2
        include components/cards/check-in-form/check-in-form.pug
        include components/cards/enter-form/enter-form.pug
      .components-wrapper-3
        include components/cards/calendar/calendar.pug

    section.form-elements
      h2(
        class='sub-title auxiliary'
      ) Form-elements

      .elements-wrapper-1
        include blocks/input/input
        include blocks/dropdown/dropdown
        +input({type: 'email', name: 'email', placeholder: 'Email', label: 'text field'})
        +input({type: 'text', name: 'text', placeholder: 'This is pretty awesome', label: 'text field'})
        +dropdown({label: 'dropdown', textContent: 'Сколько гостей'})
        +input({type: 'text', name: 'masked-text', placeholder: 'дд.мм.гггг', label: 'masked text field'})
        +dropdown({label: 'date dropdown', textContent: 'дд.мм.гггг'})

    script(src='./main.js')
